<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>

    <style>
        /* Draw lines between table columns */
        table {
            border-collapse: collapse;
        }

        td {
            border-left: 1px solid black;
            border-right: 1px solid black;

            padding: 5px;

            /* no wrap */
            white-space: nowrap;
        }

        table, th {
            border: 1px solid black;
        }

        /* Alternate row colors */
        tr:nth-child(even) {
            background-color: #dddddd;
        }

        th {
            background-color: #cccccc;
        }
    </style>
</head>
<body>
<h1>Welcome to the Dashboard!</h1>
<table>
    <thead>
    <tr>
        <th>Full Name</th>
        <th>Slug</th>
        <th>Path</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    {% for project in projects.values() %}
    <tr>
        <td>{{ project.full_name }}</td>
        <td>{{ project.slug }}</td>
        <td>{{ project.path }}</td>
        <td>
            <button onclick="deleteProject('{{ project.slug }}')">🗑️</button>
            <button onclick="editProjectForm('{{ project.slug }}')">✏️</button>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<br>
<form action="/dashboard/project" method="post" name="create_project">
    <input type="hidden" name="original_slug">
    <label for="full_name">Full Name:</label><br>
    <input type="text" id="full_name" name="full_name"><br>
    <label for="slug">Slug:</label><br>
    <input type="text" id="slug" name="slug"><br>
    <label for="path">Path:</label><br>
    <input type="text" id="path" name="path"><br>
    <div style="height: 10px;"></div>
    <input type="submit" value="Create Project">
    <button id="edit" onclick="editProject()" style="display: none;">Edit</button>
    <button type="reset">Clear</button>
</form>
<script>
    const form = document.forms['create_project'];

    form.onreset = () => {
        document.querySelector('input[type="submit"]').style.display = 'inline-block';
        document.querySelector('button#edit').style.display = 'none';
    };

    function deleteProject(slug) {
        if (confirm('Are you sure you want to delete this project?')) {
            fetch('/dashboard/project/' + slug, {
                method: 'DELETE',
            }).then(() => location.reload());
        }
    }

    function editProjectForm(slug) {
        console.log('editProjectForm', slug);

        // hide the create button and show the edit button
        document.querySelector('input[type="submit"]').style.display = 'none';
        document.querySelector('button#edit').style.display = 'inline-block';

        // set the original slug in the form
        form['original_slug'].value = slug;

        // fill the form with the project data from the table
        const project = Array.from(document.querySelectorAll('tr')).find(tr => tr.children[1].textContent === slug);
        form['full_name'].value = project.children[0].textContent;
        form['slug'].value = project.children[1].textContent;
        form['path'].value = project.children[2].textContent;
    }

    function editProject() {
        const originalSlug = form['original_slug'].value;
        const fullName = form['full_name'].value;
        const slug = form['slug'].value;
        const path = form['path'].value;
        fetch('/dashboard/project/' + originalSlug, {
            method: 'PUT',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({
                full_name: fullName,
                slug: slug,
                path: path,
            }),
        }).then(() => location.reload());
    }
</script>
</body>
</html>